.root {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: usesize(1);
}

.actions {
  display: flex;
  flex-direction: column;
  gap: usesize(1);

  button {
    font-size: var(--typography-caption);
  }
}

.category {
  h4 {
    &:first-child {
      margin-top: 0;
    }
  }
}
