.editorContainer {
  overflow-y: scroll;
  padding: usesize(0.8);
}
.root {
  display: grid;
  grid-template-columns: 1fr usesize(12);
  height: 100vh;
}
.rootExpanded {
  grid-template-columns: 1fr usesize(35);
}
.toolbar {
  display: flex;
  gap: usesize(0.8);
  margin-bottom: usesize(0.8);
}
.hr {
  margin-bottom: usesize(0.8);
}
