.editorContainer {
  overflow-y: scroll;
  padding: usesize(1);
}
.root {
  display: grid;
  grid-template-columns: 1fr 120px;
  height: 100vh;
}
.rootExpanded {
  grid-template-columns: 1fr 350px;
}
.toolbar {
  display: flex;
  gap: usesize(1);
  margin-bottom: usesize(1);
}
.hr {
  margin-bottom: usesize(1);
}
