.arrowRight {
  transform: rotate(180deg);
}
.pagination {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.paginationButtons {
  display: flex;
  gap: usesize(0.8);
}
.list {
  margin: 0;
  padding: 0;
}
.item {
  &:first-child {
    padding-top: 0;
  }
  &:last-child {
    border-bottom: none;
  }
  display: block;
  padding: usesize(1.6) 0;
  border-bottom: usesize(0.1) solid var(--palette-border);
}
