.root {
  top: 0;
  padding: var(--spacing-1);
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.money {
  pointer-events: none;
}

.dev {
  color: var(--palette-error);
}
