.commodities {
  margin-top: var(--spacing-2);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.container {
  width: 100%;
}
.label {
  cursor: pointer;
  margin-left: var(--spacing-0-5);
}
.labelContainer {
  display: inline-flex;
  align-items: center;
}
