.commodities {
  margin-top: usesize(1.6);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.container {
  width: 100%;
}
.header {
  margin-bottom: usesize(0.8);
  margin-top: usesize(0.8);
}
.label {
  cursor: pointer;
  margin-left: usesize(0.5);
}
.labelContainer {
  display: inline-flex;
  align-items: center;
}
.collapsible {
  margin-left: 0;
}

.icon {
  width: 1rem;
  height: 1rem;

  &Success {
    color: var(--palette-success);
  }
  &Error {
    color: var(--palette-error);
  }
}
