.list {
  padding: 0;
}
.item {
  display: block;
}
.buyBtn {
  display: inline-flex;
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  border: none;
  appearance: none;
  color: var(--palette-text-1);

  svg {
    margin-left: usesize(0.8);
    width: 1rem;
    height: 1rem;
  }
}
.summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
