.backButtonBar {
  display: flex;
  align-items: center;
  gap: usesize(1.6);
  margin-bottom: usesize(0.8);
}
.container {
  padding: usesize(3.2);
  width: usesize(42);
}
.root {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
}
.title {
  &.title {
    margin: 0;
  }
  display: inline-block;
}
