.backButtonBar {
  display: flex;
  align-items: center;
  gap: usesize(2);
  margin-bottom: usesize(1);
}
.container {
  padding: usesize(4);
  width: 420px;
}
.root {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
}
.title {
  &.title {
    margin: 0;
  }
  display: inline-block;
}
