.root {
  --sidebar-width: 400px;

  display: grid;
  grid-template-columns: 1fr var(--sidebar-width);
}

.preview {
  color: #fff;
  position: relative;
}

.sidebar {
  border-left: 1px solid var(--palette-border);
  height: 100vh;
  overflow-y: scroll;
  padding: 0 var(--spacing-4) var(--spacing-4);

  h2 {
    margin-top: var(--spacing-4);
  }
}

.addModule {
  margin: var(--spacing-2) 0;
}

.selectedModule {
  display: flex;
  align-items: center;
  gap: var(--spacing);
}

.table {
  width: 100%;

  td:nth-child(2) {
    text-align: right;
  }
}

.total {
  border-top: 1px solid var(--palette-border);
}

.templateDropdown {
  width: 300px;

  &Container {
    position: absolute;
    bottom: var(--spacing-4);
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
