.root {
  --sidebar-width: usesize(40);

  display: grid;
  grid-template-columns: 1fr var(--sidebar-width);
}

.preview {
  color: #fff;
  position: relative;
}

.sidebar {
  border-left: usesize(0.1) solid var(--palette-border);
  height: 100vh;
  overflow-y: scroll;
  padding: 0 usesize(3.2) usesize(3.2);

  h2 {
    margin-top: usesize(3.2);
  }
}

.addModule {
  margin: usesize(1.6) 0;
}

.selectedModule {
  display: flex;
  align-items: center;
  gap: usesize(0.8);
}

.table {
  width: 100%;

  td:nth-child(2) {
    text-align: right;
  }
}

.total {
  border-top: usesize(0.1) solid var(--palette-border);
}

.templateDropdown {
  width: usesize(30);

  &Container {
    position: absolute;
    bottom: usesize(3.2);
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
