// @keyframes gradientRotate {
//   to {
//     transform: rotate(359deg);
//   }
// }

@keyframes background {
  to {
    background-position: 1000px 1000px;
  }
}

.root {
  position: relative;

  &Backdrop {
    background: url("../../assets/ui/smoke_yellow.png") 0% 0% repeat;
    animation: background 40s infinite linear;
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    filter: opacity(0.15);
    pointer-events: none;
    z-index: -1;
  }
}
