.editorContainer {
  overflow-y: scroll;
  padding: usesize(1);
}
.freightExpanded {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: usesize(3);
  padding: usesize(3) 0;
}
.freightExpandedForm {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: usesize(2);
}
.root {
  display: grid;
  grid-template-columns: 1fr 120px;
  height: 100vh;
}
.rootExpanded {
  grid-template-columns: 1fr 350px;
}
.toolbar {
  display: flex;
  gap: usesize(1);
  margin-bottom: usesize(1);
}
.column {
  display: flex;
  flex-direction: column;
  gap: usesize(1);
  padding: usesize(1) 0;
}
.hr {
  margin-bottom: usesize(1);
}
.rowExpander {
  transform: rotate(-90deg);
}
.rowExpanderToggled {
  transform: rotate(90deg);
}
.textureLabel {
  display: flex;
  justify-content: space-between;
}
.texturePreview {
  height: 16px;
  width: 16px;
}
.buildExpanded {
  display: grid;
  grid-template-columns: 200px 80px 32px;
  gap: usesize(1);
  padding: usesize(3) 0;
}
