.root {
  &:hover {
    background: rgba(255, 255, 255, 0.15);
  }
  &:active:focus {
    background: rgba(255, 255, 255, 0.3);
  }
  &[disabled] {
    &:hover {
      background: var(--palette-background);
    }
    border-color: var(--palette-disabled);
    color: var(--palette-disabled);
    cursor: auto;
  }
  appearance: none;
  background: var(--palette-background);
  border-radius: usesize(0.4);
  border: usesize(0.1) solid var(--palette-border);
  color: var(--palette-default);
  cursor: pointer;
  height: usesize(3.2);
  padding: usesize(0.8);
  text-align: center;
  white-space: nowrap;
  line-height: 1;
  text-transform: uppercase;
  font-size: var(--typography-button);
  font-weight: 600;
  transition: 200ms;
  outline: 0;
}
