.root {
  border: usesize(0.1) var(--palette-border) solid;
  border-radius: usesize(0.8);
  padding: usesize(2.4);
}

.header {
  font-size: var(--typography-header2);
  font-weight: 600;
  margin-bottom: usesize(2.4);
}
