.root {
  cursor: pointer;
  appearance: none;
  width: 12px;
  height: 12px;
  border: 1px solid var(--palette-border);
  border-radius: 2px;
  margin: 2px;

  &:checked:before {
    position: relative;
    content: "";
    width: 6px;
    height: 6px;
    top: 2px;
    left: 2px;
    display: block;
    background: var(--palette-default);
  }
}
