.title {
  display: flex;
  justify-content: space-between;
  margin-bottom: usesize(2.4);
}

.titleText {
  margin: 0;
}

.actions {
  display: flex;
  justify-content: flex-end;
  margin-top: usesize(2.4);
  gap: usesize(0.8);
}

.close {
  flex: none;
}

div.backdrop {
  position: unset;
}
