.button {
  &:hover {
    background: rgba(255, 255, 255, 0.2);
  }
  &[disabled],
  &Disabled {
    &:hover {
      background: inherit;
    }
    background: transparent;
    border-color: var(--palette-disabled);
    color: var(--palette-disabled);
    cursor: auto;
    pointer-events: none;
  }
  appearance: none;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: usesize(0.4);
  color: var(--palette-text-1);
  cursor: pointer;
  display: block;
  font-size: var(--typography-button);
  height: usesize(3.2);
  line-height: 1;
  padding: usesize(0.8);
  outline: 0;
  text-align: left;
  width: 100%;
}
.buttonActive {
  background: rgba(255, 255, 255, 0.2);
}
.dropdown {
  background: var(--palette-background);
  border: usesize(0.1) var(--palette-border) solid;
  border-radius: usesize(0.8);
  max-height: usesize(30);
  overflow: scroll;
  outline: 0;
  padding: usesize(0.8);
  position: absolute;
  width: 100%;
  z-index: 1;

  &Up {
    bottom: calc(100% + usesize(0.8));
  }
}
.option {
  &:hover {
    background: rgba(255, 255, 255, 0.15);
  }
  &[disabled] {
    &:hover {
      background: var(--palette-background);
    }
    border-color: var(--palette-disabled);
    color: var(--palette-disabled);
    cursor: auto;
  }
  background: none;
  border: none;
  border-radius: usesize(0.4);
  color: var(--palette-text-1);
  cursor: pointer;
  display: block;
  font-size: var(--typography-button);
  min-height: usesize(3.2);
  line-height: 1;
  padding: usesize(0.8);
  text-align: left;
  width: 100%;
}
.optionActive {
  background: rgba(255, 255, 255, 0.15);
}
.root {
  position: relative;
  z-index: 2;
}
