.root {
  * {
    height: 100%;
    width: 100%;
  }

  appearance: none;
  cursor: pointer;
  outline: 0;
  transition: 200ms;
}

.naked {
  &:hover,
  &:focus {
    color: var(--palette-default);
  }
  &:active {
    color: var(--palette-default);
  }
  &[disabled] {
    &:hover {
      color: var(--palette-disabled);
    }
    color: var(--palette-disabled);
    cursor: auto;
  }

  border: none;
  background: none;
  color: rgba(255, 255, 255, 0.75);
  height: 1rem;
  width: 1rem;
  padding: 0;
}

.outlined {
  &:hover,
  &:focus {
    background: rgba(255, 255, 255, 0.15);
  }
  &:active {
    background: rgba(255, 255, 255, 0.3);
  }
  &[disabled] {
    &:hover {
      background: var(--palette-background);
    }
    border-color: var(--palette-disabled);
    color: var(--palette-disabled);
    cursor: auto;
  }

  background: var(--palette-background);
  border-radius: 4px;
  border: 1px solid var(--palette-default);
  color: var(--palette-default);
  height: 32px;
  padding: var(--spacing-1);
  width: 32px;
}
