@import "/kit/theming/global.scss";

.root {
  * {
    height: 100%;
    width: 100%;
    display: block;
  }

  appearance: none;
  cursor: pointer;
  outline: 0;
  transition: 200ms;
}

.naked,
.opaque {
  &:hover,
  &:focus {
    color: var(--palette-default);
  }
  &:active {
    color: var(--palette-default);
  }
  &[disabled] {
    &:hover {
      color: var(--palette-disabled);
    }
    color: var(--palette-disabled);
    cursor: auto;
  }

  border: none;
  background: none;
  color: var(--palette-text-2);
  height: usesize(1.5);
  width: usesize(1.5);
  padding: 0;
}

$padding: usesize(0.4);
.opaque {
  position: relative;
  right: $padding;

  &::before {
    background-color: var(--palette-default);
    border-radius: usesize(0.2);
    content: "";
    display: block;
    height: calc(usesize(1.5) + $padding * 2);
    left: -$padding;
    opacity: 0;
    position: absolute;
    top: -$padding;
    transition: 200ms;
    width: calc(usesize(1.5) + $padding * 2);
    z-index: -1;
  }

  &:hover,
  &:focus,
  &:active {
    &::before {
      opacity: 0.2;
    }
  }
}

.outlined {
  &:hover,
  &:focus {
    background: rgba(255, 255, 255, 0.15);
  }
  &:active {
    background: rgba(255, 255, 255, 0.3);
  }
  &[disabled] {
    &:hover {
      background: var(--palette-background);
    }
    border-color: var(--palette-disabled);
    color: var(--palette-disabled);
    cursor: auto;
  }

  background: var(--palette-background);
  border-radius: usesize(0.4);
  border: usesize(0.1) solid var(--palette-border);
  color: var(--palette-default);
  height: usesize(3.2);
  padding: usesize(0.8);
  width: usesize(3.2);
}
