.root {
  &:hover,
  &:focus {
    background: rgba(255, 255, 255, 0.15);
  }
  &:active {
    background: rgba(255, 255, 255, 0.3);
  }
  appearance: none;
  background: var(--palette-background);
  border-radius: 4px;
  border: 1px solid var(--palette-border);
  color: var(--palette-text-1);
  height: 32px;
  padding: usesize(0.8);
  line-height: 1;
  font-size: var(--typography-button);
  font-weight: 600;
  transition: 200ms;
  outline: 0;
}
.label {
  cursor: pointer;
  font-size: var(--typography-label);
  margin-left: usesize(0.5);
}
