.root {
  &::-webkit-slider-thumb {
    appearance: none;
    height: 15px;
    width: 5px;
    background: var(--palette-default);
    position: relative;
  }
  &::-webkit-slider-runnable-track {
    background: var(--palette-background);
    padding: 0;
    height: 15px;
    margin: 0;
  }
  &::after {
    background: var(--palette-default);
    content: "";
    position: absolute;
    top: 6px;
    left: 0;
    height: 3px;
    width: 100%;
    z-index: 1;
  }
  &[disabled] {
    &::after,
    &::-webkit-slider-thumb {
      background: var(--palette-disabled);
    }
  }
  appearance: none;
  background: var(--palette-background);
  cursor: pointer;
  margin: 0;
  position: relative;
}
