.root {
  &::-webkit-slider-thumb {
    appearance: none;
    height: usesize(1.5);
    width: usesize(0.5);
    border-radius: usesize(0.1);
    background: var(--palette-default);
    position: relative;
    z-index: 2;
  }
  &::-webkit-slider-runnable-track {
    background: transparent;
    padding: 0;
    height: usesize(1.5);
    margin: 0;
  }
  &::after {
    border-radius: usesize(0.1);
    background: var(--palette-border);
    content: "";
    position: absolute;
    top: usesize(0.6);
    left: 0;
    height: usesize(0.3);
    width: 100%;
    z-index: 1;
  }
  &[disabled] {
    &::after,
    &::-webkit-slider-thumb {
      background: var(--palette-disabled);
    }
  }
  appearance: none;
  background: transparent;
  cursor: pointer;
  margin: 0;
  position: relative;
}
