.root {
  text-align: center;
  width: fit-content;
  background: var(--palette-background);
  border: 1px solid var(--palette-border);
  border-radius: 4px;
  line-height: 1;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: usesize(2);

  & > * {
    position: relative;

    &:not(:last-child):after {
      height: 1rem;
      width: 1px;
      position: absolute;
      top: 0;
      right: calc(usesize(1) * -1);
      background-color: var(--palette-border);
      display: block;
      content: "";
      pointer-events: none;
    }
  }
}
