.root {
  text-align: center;
  width: fit-content;
  background: var(--palette-background);
  border: usesize(0.1) solid var(--palette-border);
  border-radius: usesize(0.4);
  line-height: 1;
  height: usesize(3.2);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: usesize(1.6);

  & > * {
    position: relative;

    &:not(:last-child):after {
      height: 1rem;
      width: usesize(0.1);
      position: absolute;
      top: 0;
      right: calc(usesize(0.8) * -1);
      background-color: var(--palette-border);
      display: block;
      content: "";
      pointer-events: none;
    }
  }
}
