.list {
  border-radius: usesize(0.4);
  border: usesize(0.1) solid var(--palette-border);
  background: var(--palette-background);
  display: inline-flex !important;
  width: 100%;
}
.tab {
  &:hover {
    background: rgba(255, 255, 255, 0.3);
  }
  appearance: none;
  background: transparent;
  border: none;
  color: var(--palette-default);
  cursor: pointer;
  height: usesize(3);
  padding: usesize(0.8);
  text-align: center;
  white-space: nowrap;
  line-height: 1;
  text-transform: uppercase;
  font-size: var(--typography-button);
  font-weight: 600;
  transition: 200ms;
  outline: 0;
  flex: 1;
}
.tabActive {
  &:hover {
    background: rgba(255, 255, 255, 0.8);
  }
  background: rgb(255, 255, 255);
  color: var(--palette-text-5);
}
