.tooltip {
  text-align: left;
  padding: calc(usesize(0.8) / 2) usesize(0.8);
  background: var(--palette-background-active);
  border-radius: usesize(0.4);
  max-width: usesize(30);
}

.container {
  z-index: var(--z-tooltip);
  transition: opacity 200ms;
}

.hide {
  opacity: 0;
}

.show {
  opacity: 1;
}
