.editorContainer {
  overflow-y: scroll;
  padding: usesize(0.8);
}
.root {
  display: grid;
  grid-template-columns: 1fr usesize(12);
}
.rootExpanded {
  grid-template-columns: 1fr usesize(35);
}
.toolbar {
  display: flex;
  gap: usesize(0.8);
  margin-bottom: usesize(0.8);
}
.column {
  display: flex;
  flex-direction: column;
  gap: usesize(0.8);
  padding: usesize(0.8) 0;
}
.hr {
  margin-bottom: usesize(0.8);
}
.rowExpander {
  transform: rotate(-90deg);
}
.rowExpanderToggled {
  transform: rotate(90deg);
}

.color {
  display: flex;
  align-items: center;
  gap: usesize(0.8);

  &Input {
    text-align: right;
  }
  &Swatch {
    flex-shrink: 0;
    border-radius: usesize(0.2);
    display: inline-block;
    width: usesize(3.2);
    height: usesize(3.2);
  }
}

.blueprint {
  display: grid;
  grid-template-columns: 1fr usesize(1.6);

  label {
    cursor: pointer;
  }
}
