.editorContainer {
  overflow-y: scroll;
  padding: usesize(1);
}
.root {
  display: grid;
  grid-template-columns: 1fr 120px;
  height: 100vh;
}
.rootExpanded {
  grid-template-columns: 1fr 350px;
}
.toolbar {
  display: flex;
  gap: usesize(1);
  margin-bottom: usesize(1);
}
.column {
  display: flex;
  flex-direction: column;
  gap: usesize(1);
  padding: usesize(1) 0;
}
.hr {
  margin-bottom: usesize(1);
}
.rowExpander {
  transform: rotate(-90deg);
}
.rowExpanderToggled {
  transform: rotate(90deg);
}

.color {
  display: flex;
  align-items: center;
  gap: usesize(1);

  &Input {
    text-align: right;
  }
  &Swatch {
    flex-shrink: 0;
    border-radius: 2px;
    display: inline-block;
    width: 32px;
    height: 32px;
  }
}

.blueprint {
  display: grid;
  grid-template-columns: 1fr 16px;

  label {
    cursor: pointer;
  }
}
