.root {
  position: absolute;
  top: usesize(4);
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  flex-direction: column;
  pointer-events: none;
}

.text {
  position: relative;

  &:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 500%;
    transform: translate(-50%, -50%);
    background: radial-gradient(rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 50%);
    z-index: -1;
  }
}
