.root {
  display: flex;
  gap: usesize(1.6);
  height: usesize(24.2);
  position: relative;
}

.bar {
  background-color: currentColor;
  display: block;
  width: usesize(1.2);
  position: absolute;
  left: usesize(0.6);

  &Container {
    position: relative;
    width: usesize(3);
  }

  &Horizontal {
    height: usesize(0.2);
    background-color: #333333;
    top: usesize(9.9);
    position: absolute;
    width: 100%;
  }
}

.label {
  display: inline-block;
  position: relative;
  top: usesize(21);
  text-align: center;
  width: 100%;
}
