@import "../../../kit/theming/global.scss";

$actions: 56px;
$responses: 200px;
$log: 300px;

.log {
  user-select: none;
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-auto-rows: min-content;
  gap: $spacing;
  height: $log;
  overflow-y: scroll;

  &NoResponses {
    height: $log + $responses - $actions + $spacing * 2;
  }
}

.responses {
  border-top: 1px solid var(--palette-border);
  height: $responses;
  overflow-y: scroll;
  margin-top: $spacing * 2;

  li {
    margin-bottom: $spacing * 2;
  }

  button {
    &:hover {
      color: var(--palette-active);
    }
    text-align: left;
    appearance: none;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: var(--palette-text-1);
    font-size: var(--typography-default);
    transition: 200ms;
  }
}
