.root {
  display: flex;
  top: 0;
  position: absolute;
  right: usesize(-0.1);
  margin: auto;
  text-align: left;
  width: fit-content;
  background: var(--palette-background);
  border: usesize(0.1) solid var(--palette-border);
  border-top: none;
  border-bottom-left-radius: usesize(0.8);
  line-height: 1;
  overflow: hidden;

  .tabs {
    display: flex;
    flex-direction: column;
  }

  .content {
    background-color: var(--palette-background-active);
    padding: usesize(0.8);
  }
}

.btn {
  appearance: none;
  border: none;
  cursor: pointer;
  color: var(--palette-text-1);
  outline: none;
  padding: usesize(0.8);
  background-color: var(--palette-background);

  &Active,
  &:hover {
    background-color: var(--palette-background-active);
  }
}
