.root {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  pointer-events: none;
}

.panel {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border: 1px solid var(--palette-border);
  border-bottom: none;
  background-color: var(--palette-background-active);
  cursor: pointer;
  text-align: center;
  width: 250px;
  padding: var(--spacing-1) var(--spacing-2);
  line-height: 1;
  pointer-events: all;
}
