.root {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  pointer-events: none;
}

.panel {
  border-top-left-radius: usesize(0.4);
  border-top-right-radius: usesize(0.4);
  border: usesize(0.1) solid var(--palette-border);
  border-bottom: none;
  background-color: var(--palette-background-active);
  cursor: pointer;
  text-align: center;
  width: usesize(25);
  padding: usesize(0.8) usesize(1.6);
  line-height: 1;
  pointer-events: all;
}
