.iconBar {
  display: flex;
  gap: usesize(0.8);
  margin-bottom: usesize(1.6);
  padding-bottom: usesize(1.6);
  border-bottom: 1px solid var(--palette-border);
}
.iconBarCollapsed {
  flex-direction: column;
  margin-bottom: 0;
  padding: 0;
  border-bottom: none;
}
.root {
  border: 1px solid var(--palette-border);
  border-left: none;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  background: var(--palette-background);
  max-height: calc(100vh - 128px);
  padding: usesize(2.4);
  position: absolute;
  top: 64px;
  left: 0;
  width: 450px;
  z-index: 1;
}
.rootCollapsed {
  width: 80px;
}
.scrollArea {
  &::-webkit-scrollbar {
    display: none;
  }
  overflow-y: scroll;
  height: calc(100vh - 234px);
  padding-bottom: usesize(2.4);
}
.rotate {
  transform: rotate(180deg);
}
.spacer {
  flex: 1;
}
.tab {
  display: inline-block;
  margin-top: usesize(0.8);
  margin-bottom: usesize(1.6);
}

.manage {
  margin-left: usesize(0.8);
}

.turbo {
  color: var(--palette-error);
}
