.iconBar {
  display: flex;
  gap: usesize(0.8);
  margin-bottom: usesize(1.6);
  padding-bottom: usesize(1.6);
  border-bottom: usesize(0.1) solid var(--palette-border);
}
.iconBarCollapsed {
  flex-direction: column;
  margin-bottom: 0;
  padding: 0;
  border-bottom: none;
}
.root {
  border-right: usesize(0.1) solid var(--palette-border);
  background: rgba(0, 0, 0, 0.1);
  max-height: usesize(70);
  padding: usesize(1.6);
  position: absolute;
  top: usesize(6.4);
  left: 0;
  width: usesize(45);
  z-index: 1;
}
.rootCollapsed {
  width: usesize(8);
}
.scrollArea {
  &::-webkit-scrollbar {
    display: none;
  }
  overflow-y: scroll;
  height: calc(59 * var(--size));
  padding-bottom: usesize(2.4);
}
.rotate {
  transform: rotate(180deg);
}
.spacer {
  flex: 1;
}
.tab {
  display: inline-block;
  margin-top: usesize(0.8);
  margin-bottom: usesize(1.6);
}

.manage {
  margin-left: usesize(0.8);
}

.turbo {
  color: var(--palette-error);
}
