.root {
  position: fixed;
  top: usesize(12);
  right: 0;
  pointer-events: none;
  background-color: var(--palette-background);
  padding: usesize(0.8);

  canvas {
    width: usesize(30);
    height: usesize(10);
  }
}
