.index {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  padding: usesize(3.2);
}

.grid {
  max-width: usesize(80);
  display: grid;
  gap: usesize(3.2);
  grid-template-columns: repeat(2, 1fr);
}

.card {
  &:hover {
    background-color: var(--palette-background-active);
  }

  transition: 150ms;

  &Link {
    color: var(--palette-text-1);
    display: contents;
    flex: 1;
    text-decoration: none;
  }
}

.root {
  padding-bottom: usesize(1.6);
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background: var(--palette-background);
  padding: usesize(0.8);
  border-bottom: 1px solid var(--palette-border);
  display: flex;
  gap: usesize(1.6);
  align-items: center;
  z-index: 1;

  .headerText {
    margin-bottom: 0;
  }
}

.main {
  margin-top: usesize(6);
}

html,
body,
:global(#root) {
  height: unset !important;
  overflow: unset !important;
}
