.index {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  padding: usesize(4);
}

.grid {
  max-width: 800px;
  display: grid;
  gap: usesize(4);
  grid-template-columns: repeat(2, 1fr);
}

.card {
  &:hover {
    background-color: var(--palette-background-active);
  }

  transition: 150ms;

  &Link {
    color: var(--palette-text-1);
    display: contents;
    flex: 1;
    text-decoration: none;
  }
}

.root {
  overflow-y: scroll;
  height: 100vh;
}
