.index {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  padding: var(--spacing-4);
}

.grid {
  max-width: 800px;
  display: grid;
  gap: var(--spacing-4);
  grid-template-columns: repeat(2, 1fr);
}

.card {
  &Link {
    color: var(--palette-text-1);
    flex: 1;
    text-decoration: none;
  }
}

.root {
  overflow-y: scroll;
  height: 100vh;
}
