.root {
  .content {
    margin-top: usesize(2.4);
    margin-bottom: usesize(2.4);

    .list {
      list-style: none;
      margin: 0;
      padding: 0;

      &Item {
        margin-bottom: usesize(0.5);
      }
    }
  }
}
