.button {
  &:not(:last-child) {
    margin-bottom: usesize(0.8);
  }
  width: 100%;
}

.settings {
  &Row {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr usesize(12);
    margin-bottom: usesize(0.8);
  }
}
