.icon {
  width: usesize(1.5);
  height: usesize(1.5);
}

.hp {
  color: var(--palette-success);
}

.shield {
  color: var(--palette-blue);
}

.root {
  span {
    display: inline-flex;
    align-items: center;
    gap: usesize(0.8);
    margin-right: usesize(0.8);
  }
}
