.icon {
  width: 1rem;
  height: 1rem;
}

.hp {
  color: var(--palette-success);
}

.shield {
  color: var(--palette-blue);
}

.root {
  span {
    display: inline-flex;
    align-items: center;
    gap: usesize(0.8);
    margin-right: usesize(0.8);
  }
}
