.root {
  display: grid;
  grid-template-columns: usesize(20) 1fr usesize(20);
  gap: usesize(3.2);
}

.sectionHeader {
  font-size: 1.2rem;
  margin-top: 0;
}

.blueprints {
  height: usesize(36.4);
  overflow-y: scroll;

  &Item {
    border-color: var(--palette-border);
    border-radius: 0;
    font-size: inherit;
    font-weight: inherit;
    text-transform: none;
    width: 100%;
    text-align: left;
    height: usesize(4.8);

    &Active {
      background-color: rgba(255, 255, 255, 0.15);
    }
  }
}

.build {
  position: relative;

  &Time {
    margin-top: usesize(3.2);
  }
  &Cost {
    line-height: 1.6;
  }
  &Btn {
    position: absolute;
    bottom: 0;
    width: 100%;

    &Cancel {
      border-color: var(--palette-warning);
      color: var(--palette-warning);
    }
  }
}

.queue {
  &Item {
    display: block;
    color: var(--palette-warning);
  }
}
