* {
  box-sizing: border-box;
  font-family: Space Mono, monospace;

  :focus-visible {
    outline: 0;
  }
}

html,
body {
  background-color: var(--palette-background);
  color: var(--palette-text-1);
  margin: 0;
  overscroll-behavior-y: none;
  font-size: var(--typography-default);

  &:-webkit-full-screen {
    background-color: var(--palette-background);
  }
}

label {
  display: block;
}

hr {
  border-color: var(--palette-border);
}

th {
  &[align="right"] {
    text-align: right;
  }
  text-align: left;
  padding: 0;
  font-size: var(--typography-default);
}

:global(#root) {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  isolation: isolate;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

input[type="number"] {
  appearance: textfield;
}

:global(.ReactModal__Content.ReactModal__Content--after-open) {
  &:before,
  &:after {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    border-radius: 13px;
  }
  &:before {
    bottom: -15px;
    left: -15px;
    border-left: 1px solid var(--palette-border);
    border-bottom: 1px solid var(--palette-border);
  }
  &:after {
    top: -15px;
    right: -15px;
    border-right: 1px solid var(--palette-border);
    border-top: 1px solid var(--palette-border);
  }
}

// Having stylesheet without local class breaks type generation
.dummmy {
  margin: 0;
}
