* {
  box-sizing: border-box;
  font-family: Space Mono, monospace;

  :focus-visible {
    outline: 0;
  }
}

html,
body {
  background-color: var(--palette-background);
  color: var(--palette-text-1);
  margin: 0;
  overscroll-behavior-y: none;
  font-size: var(--typography-default);

  &:-webkit-full-screen {
    background-color: var(--palette-background);
  }
}

label {
  display: block;
}

hr {
  border-color: var(--palette-border);
}

th {
  &[align="right"] {
    text-align: right;
  }
  text-align: left;
  padding: 0;
  font-size: var(--typography-default);
}

:global(#root) {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  isolation: isolate;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

input[type="number"] {
  appearance: textfield;
}

// Having stylesheet without class breaks type generation
.dummmy {
  margin: 0;
}
