$spacing: 8px;

@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400&display=swap");

* {
  box-sizing: border-box;
  font-family: Space Mono, monospace;
  scrollbar-width: none;

  :focus-visible {
    outline: 0;
  }

  ::-webkit-scrollbar {
    display: none;
  }
}

html,
body {
  background-color: var(--palette-background);
  color: var(--palette-text-1);
  margin: 0;
  overscroll-behavior-y: none;
  font-size: var(--typography-default);
  overflow: hidden;

  &:-webkit-full-screen {
    background-color: var(--palette-background);
  }
}

label {
  display: block;
}

hr {
  border-color: var(--palette-border);
}

th {
  &[align="right"] {
    text-align: right;
  }
  text-align: left;
  padding: 0;
  font-size: var(--typography-default);
}

:global(#root) {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  isolation: isolate;
}

:global(#error) {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

input[type="number"] {
  appearance: textfield;
}

// Having stylesheet without local class breaks type generation
.dummmy {
  margin: 0;
}
