.root {
  bottom: usesize(1.6);
  padding: usesize(0.8);
  position: absolute;
  right: usesize(1.6);
  margin: auto;
  max-width: 300px;
}

.turbo {
  color: var(--palette-error);
}

.money {
  pointer-events: none;
}

#date {
  display: block;
  position: relative;
  width: 120px;

  &::before {
    content: "";
    width: calc((100% + usesize(1.6)) * var(--progress) / 24);
    height: calc(100% + usesize(1.6));
    position: absolute;
    top: calc(-1 * usesize(0.8));
    left: calc(-1 * usesize(0.8));
    background-color: rgba(255, 255, 255, 0.2);
  }

  &::after {
    height: calc(100% + usesize(1.6));
    top: calc(-1 * usesize(0.8));
  }
}
