.root {
  background-color: #000000;
  height: 100vh;
  width: 100vw;
  padding: usesize(3.2);
  z-index: 2;
  position: fixed;
  top: 0;
  display: none;

  &.active,
  &.fadeIn,
  &.fadeOut {
    display: block;
  }

  &.fadeIn {
    animation: fadeIn 150ms ease-in-out;
  }

  &.fadeOut {
    animation: fadeOut 150ms ease-in-out;
  }
}

.bar {
  align-items: center;
  display: flex;
  gap: usesize(3.2);
  padding-bottom: usesize(2.4);
  margin-bottom: usesize(3.2);
  border-bottom: usesize(0.1) solid var(--palette-border);

  h1,
  h3 {
    position: relative;
    margin: 0 !important;
    cursor: pointer;

    &:after {
      display: block;
      height: usesize(1.5);
      width: usesize(0.1);
      background-color: var(--palette-border);
      position: absolute;
      right: calc(-1 * usesize(1.6));
      top: usesize(0.6);
    }

    &:not(:last-child):after {
      content: "";
    }
  }

  h1:after {
    height: 1.5rem;
    top: usesize(0.8);
  }
}

.overlayButton:hover {
  color: var(--palette-text-3);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
