.faction {
  align-items: center;
  display: flex;
  font-size: var(--typography-label);
  margin-bottom: usesize(0.4);

  &Color {
    width: usesize(2);
    height: usesize(2);
    margin-right: usesize(0.8);
  }
}
