.faction {
  align-items: center;
  display: flex;
  font-size: var(--typography-label);
  margin-bottom: usesize(0.5);

  &Color {
    width: 20px;
    height: 20px;
    margin-right: usesize(1);
  }
}
