.editor {
  overflow-x: scroll;
  height: calc(100vh - 58px);
}
.editorContainer {
  overflow-x: hidden;
  padding: usesize(0.8);
}
.freightExpanded {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: usesize(2.4);
  padding: usesize(2.4) 0;
}
.freightExpandedForm {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: usesize(1.6);
}
.root {
  display: grid;
  grid-template-columns: 1fr 120px;
  height: 100vh;
}
.rootExpanded {
  grid-template-columns: 1fr 350px;
}
.toolbar {
  display: flex;
  gap: usesize(0.8);
  margin-bottom: usesize(0.8);
}
.column {
  display: flex;
  flex-direction: column;
  gap: usesize(0.8);
  padding: usesize(0.8) 0;
}
.hr {
  margin-bottom: usesize(0.8);
}
.rowExpander {
  transform: rotate(-90deg);
}
.rowExpanderToggled {
  transform: rotate(90deg);
}
.textureLabel {
  display: flex;
  justify-content: space-between;
}
.texturePreview {
  height: 16px;
  width: 16px;
}
.buildExpanded {
  display: grid;
  grid-template-columns: 200px 80px 32px;
  gap: usesize(0.8);
  padding: usesize(2.4) 0;
}
.productionExpanded {
  display: grid;
  grid-template-columns: 164px 136px 136px 48px;
  gap: usesize(1.6);
  padding: usesize(2.4) 0;
}
