.editor {
  overflow-x: scroll;
  height: calc(100vh - usesize(5.8));
}
.editorContainer {
  overflow-x: hidden;
  padding: usesize(0.8);
}
.freightExpanded {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: usesize(2.4);
  padding: usesize(2.4) 0;
}
.freightExpandedForm {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: usesize(1.6);
}
.root {
  display: grid;
  grid-template-columns: 1fr usesize(12);
}
.rootExpanded {
  grid-template-columns: 1fr usesize(35);
}
.toolbar {
  display: flex;
  gap: usesize(0.8);
  margin-bottom: usesize(0.8);
}
.column {
  display: flex;
  flex-direction: column;
  gap: usesize(0.8);
  padding: usesize(0.8) 0;
}
.hr {
  margin-bottom: usesize(0.8);
}
.rowExpander {
  transform: rotate(-90deg);
}
.rowExpanderToggled {
  transform: rotate(90deg);
}
.textureLabel {
  display: flex;
  justify-content: space-between;
}
.texturePreview {
  height: usesize(1.6);
  width: usesize(1.6);
}
.buildExpanded {
  display: grid;
  grid-template-columns: usesize(20) usesize(8) usesize(3.2);
  gap: usesize(0.8);
  padding: usesize(2.4) 0;
}
.productionExpanded {
  display: grid;
  grid-template-columns: usesize(16.4) usesize(13.6) usesize(13.6) usesize(4.8);
  gap: usesize(1.6);
  padding: usesize(2.4) 0;
}
