.root {
  display: grid;
  grid-template-columns: usesize(40) 1fr;
}

.fleet {
  &Commander {
    display: flex;
    align-items: center;
    gap: usesize(0.8);
  }
  &Expand {
    transform: rotate(-90deg);
    width: usesize(1.6);
  }
  &Expanded {
    transform: rotate(0deg);
  }
  &Subordinates {
    margin-left: calc(3 * usesize(0.8));
  }
}

.hr {
  margin: usesize(3.2) 0;
}

.shipMargin {
  margin-left: calc(3 * usesize(0.8));
}
