.root {
  display: grid;
  grid-template-columns: 400px 1fr;
}

.fleet {
  &Commander {
    display: flex;
    align-items: center;
    gap: var(--spacing-1);
  }
  &Expand {
    transform: rotate(-90deg);
    margin-left: calc(2.5 * var(--spacing-1));
  }
  &Expanded {
    transform: rotate(0deg);
  }
}

.hr {
  margin: var(--spacing-4) 0;
}

.shipNoMargin {
  margin-left: 0;
}
