.summary {
  align-items: center;
  display: flex;
  gap: var(--spacing-2);
}

.icon {
  display: inline-block;
  height: 16px;
  width: 16px;
}

.warning {
  color: var(--palette-warning);
}

.growth {
  margin-left: var(--spacing);
}

.negative {
  color: var(--palette-error);
}

.positive {
  color: var(--palette-success);
}
