.summary {
  align-items: center;
  display: flex;
  gap: var(--spacing-2);
}

.icon {
  justify-self: flex-end;
  display: inline-block;
  height: 16px;
  width: 16px;
}

.warning {
  color: var(--palette-warning);
}
