@import "kit/theming/global.scss";

.ship {
  appearance: none;
  background: none;
  border: none;
  text-align: left;
  color: var(--palette-text);
  cursor: pointer;
  padding: usesize(0.3) 0;
  width: fill-available;
  width: -webkit-fill-available;

  &Active {
    background-color: var(--palette-background-active);
  }

  &Order {
    float: right;
    text-align: right;
  }

  &Icon {
    height: usesize(1.2);
    width: usesize(1.6);
    margin-right: $spacing;

    [fill="#fff"],
    [fill="#ffffff"],
    [fill="#FFF"],
    [fill="#FFFFFF"],
    [fill="white"] {
      fill: currentColor;
    }
    [stroke="#fff"],
    [stroke="#ffffff"],
    [stroke="#FFF"],
    [stroke="#FFFFFF"],
    [stroke="white"] {
      stroke: currentColor;
    }
  }
}
