.root {
  border-left: 1px solid var(--palette-default);
  padding: usesize(0.8);
  overflow-y: scroll;
  font-family: monospace;
  line-break: anywhere;

  & json-viewer {
    --background-color: transparent;
  }

  & .toolbar {
    display: flex;
    gap: usesize(0.8);
    margin-bottom: usesize(0.8);
  }
}

.rotate {
  transform: rotate(180deg);
}
