.notification {
  background-color: var(--palette-background);
  align-items: center;
  display: flex;
  border: usesize(0.1) solid var(--palette-border);
  border-right: none;
  border-top-left-radius: usesize(0.8);
  border-bottom-left-radius: usesize(0.8);
  overflow: hidden;

  height: usesize(5.6);
  transform: translateX(calc(100% - usesize(5.6)));
  transition: 200ms;
  position: relative;
  cursor: pointer;
  pointer-events: visible;

  &::before {
    content: "";
    display: block;
    width: usesize(0.3);
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
  }

  &:hover,
  &:focus {
    transform: translateX(0);
  }

  &Success {
    color: var(--palette-success);

    &::before {
      background-color: var(--palette-success);
    }
  }
  &Error {
    color: var(--palette-error);

    &::before {
      background-color: var(--palette-error);
    }
  }
  &Warning {
    color: var(--palette-warning);

    &::before {
      background-color: var(--palette-warning);
    }
  }

  &Message {
    white-space: nowrap;
    text-overflow: clip;
    margin: 0;
    margin-left: usesize(1.6);
    color: var(--palette-text-1);
    padding-right: usesize(1.6);
  }

  &Icon {
    margin-left: usesize(0.8);
    width: usesize(3.2);
    height: usesize(3.2);
  }

  &Dismiss {
    margin-right: usesize(0.8);
  }
}

.container {
  flex-direction: column;
  flex-wrap: wrap;
  gap: usesize(0.8);
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: absolute;
  bottom: usesize(30);
  height: usesize(40);
  right: 0;
  pointer-events: none;
}
